
<form>
  <fieldset>
    <legend>Introduce a place to search:</legend>
    Search: <input type="text"><br>
    </fieldset>
</form>


<% @results1.each do |result| %>

  <%= link_to(result["official"]["NAME"], "http://protectedplanet.net/sites/#{result["official"]["WDPAID"]}") %>
  <br/>

<% end %>




