<%= link_to "Home", "sites/index", :class => 'brand' %>
<ul class="nav">
     
    <li>
    <%= link_to('WCMC',  "sites/index", :class => 'brand')  %>
    </li>
  
    <li>
    <%= link_to('Help',  "sites/index", :class => 'brand') %>
    </li>

</ul>